version: '3.7'

services:
  geoip:
    build:
      context: geoip
  web:
    build:
      context: caresteouvert_backend
      dockerfile: docker/web/Dockerfile
  worker:
    build:
      context: caresteouvert_backend
      dockerfile: docker/worker/Dockerfile
  front:
    build:
      context: ../
